<div class="modal fade gasto-notes-modal" id="gastoNotesModal" tabindex="-1" aria-labelledby="gastoNotesModalLabel" aria-hidden="true" xmlns:th="http://www.thymeleaf.org" th:fragment="notesDialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <div class="text-uppercase small fw-bold text-primary">GastoClaro</div>
          <h2 class="modal-title fs-5" id="gastoNotesModalLabel">Detalle de la observación</h2>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <dl class="gasto-note-meta mb-3">
          <div>
            <dt>Concepto</dt>
            <dd id="gastoNotesConcept">-</dd>
          </div>
          <div id="gastoNotesSourceRow">
            <dt>Origen</dt>
            <dd id="gastoNotesSource">-</dd>
          </div>
        </dl>
        <div class="small fw-semibold text-muted mb-2">Observación completa</div>
        <div id="gastoNotesText" class="gasto-note-copy" tabindex="0">-</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
