<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="${report.title() + ' - GastoClaro'}">Informe financiero - GastoClaro</title>
  <th:block th:replace="~{personal_finance/_debt_report_styles :: styles}"></th:block>
</head>
<body>
  <div th:replace="~{personal_finance/_debt_report_content :: content(${report}, ${options}, ${fmt})}"></div>
</body>
</html>
