# Keep text files normalized as LF in repository
* text=auto eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# (Optional) Images & binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.jar binary
